*{
    margin: 0;
}

img{
    width: 200px;
    margin: 50px 463px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

#header{
    background: url("img02.png") no-repeat center rgba(255, 255, 0, 0.5);
    background-position: 1240px;
    background-size: 200px;
}

#all{
    height: 800px;
    background-color: yellow;
}

#image{
    border: 3px solid rgba(0, 0, 0, 0.3);
}